.loading{
    animation: loading 1s linear infinite alternate;
    width: max-content;
    position: relative;
    border-radius: 4px;
}
@keyframes loading{
    0%{
        background-color: rgba(217,217,217,1);
    }

    100%{
        background-color: rgb(168, 194, 212);
    }
}
.animation{
    text-decoration: none !important;
}
.animation *{
    opacity: 0 !important;
    border-radius: 4px;
    width: max-content;
}
.animation::after, .animation::before{
    width: 20px !important;
    height: 23px !important;
    background: #D9D9D9;
    border-radius: 4px;
    background-image: none !important;
    animation: loading 1s linear infinite alternate;
}
.animation .circle{
    opacity: 1 !important;
    animation: loading 1s linear infinite alternate;
    border-radius: 50%;
}
.animation .square{
    opacity: 1 !important;
    animation: loading 1s linear infinite alternate;
}
.animation .line{
    opacity: 1 !important;
    animation: loading 1s linear infinite alternate;
    color: transparent !important;
    text-decoration: none !important;
}
.loading *{
    opacity: 0 !important;
}
.loading .square{
    opacity: 1 !important;
    position: absolute;
    background: #D9D9D9;
}
.loading .line{
    position: absolute;
    opacity: 1 !important;
    background: #D9D9D9;
}
.loading.case{
    opacity: 1 !important;
}
.loading::after, .loading::before{
    opacity: 0 !important;
}





header .header_row .header_left .hamburger{
    border-radius: 4px;
}

header .header_row .header_left .logo.loading{
    width: 109px;
    height: 24px;
    border-radius: 4px;
}

header .header_row .header_left .header_nav li.loading{
    height: 16px;
    width: 56px;
    border-radius: 4px;
}
.search_form.loading .square{
    border-radius: 2px;
    width: 16px;
    height: 16px;
    left: 16px;
}
.search_form.loading .line{
    border-radius: 2px;
    width: 50%;
    height: 16px;
    left: 50px;
}
.hero .hero_image_block.loading{
    border-radius: 4px;
}
.new .loading{
    border-radius: 8px 8px 8px 4px;
    width: 202px;
    height: 40px;
}
.new .loading .line{
    position: absolute;
    background: #AFAFAF;
    border-radius: 4px;
    width: 174px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.big .loading{
    width: 320px;
    height: 56px;
    border-radius: 8px 8px 8px 4px;
}
.big .loading .square{
    width: 24px;
    height: 24px;
    background: #AFAFAF;
    border-radius: 4px;
    left: 18px;
    top: 50%;
    transform: translate(0, -50%);
}
.big .loading .line{
    width: 58%;
    height: 20px;
    background: #AFAFAF;
    border-radius: 4px;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translate(0, -50%);
}
.big .loading .squareSmall{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #AFAFAF;
    opacity: 1 !important;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
}

.small .loading{
    border-radius: 4px 20px 20px 20px;
    padding: 10px 14px;
    width: 122px;
    height: 40px;
}
.small .loading .line{
    position: absolute;
    background: #AFAFAF;
    border-radius: 4px 10px;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    width: 94px;
    height: 20px;
}
.hero_form.loading{
    border-radius: 8px;
    width: 100%;
}
.hero_form.loading .line{
    position: absolute;
    width: 139px;
    height: 20px;
    top: 50%;
    transform: translate(0, -50%);
    left: 14px;
    border-radius: 4px;
    background: #AFAFAF;
}
.hero_form.loading .square{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    right: 18px;
    background: #AFAFAF;
}
.hero_form.loading .square.one{
    display: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    left: 18px;
    background: #AFAFAF;
}
.section_title.loading ,.section_description.loading{
    animation: none;
    width: 100%;
}
.section_title.loading .lines_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    opacity: 1 !important;
}
.section_title.loading .lines_block .line {
    position: unset;
    animation: loading 1s linear infinite alternate;
    width: 50%;
    height: 30px;
    border-radius: 4px;
}
.section_title.loading .lines_block .line:last-child{
    display: none;
}
.section_description.loading .lines_block .line {
    position: unset;
    animation: loading 1s linear infinite alternate;
    height: 24px;
    border-radius: 4px;
}
.section_description.loading .lines_block .line:nth-child(n + 2){
    display: none;
}
.section_description.loading .lines_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    opacity: 1 !important;
}
.service_item.loading .square{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    right: 50%;
    transform: translate(50%,0);
    top: 20px;
}
.service_item.loading .line{
    border-radius: 4px;
    width: 90%;
    height: 14px;
    bottom: 18px;
    right: 50%;
    transform: translate(50%,0);
}
.show_all.loading .line{
    border-radius: 6px;
    background: #AFAFAF;
    width: 60%;
    height: 20px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    animation: loading 2s linear infinite alternate;
}
.checkPay_item.loading{
    animation: none;
}
.checkPay_item.loading .loading{
    opacity: 1 !important;
}
.checkPay_item .loading:first-child{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.checkPay_item .loading .square{
    border-radius: 6px;
    width: 36px;
    height: 36px;
    top: 50%;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
}
.checkPay_name.loading{
    width: 80%;
    opacity: 1 !important;
}
.checkPay_name.loading .line{
    position: unset;
    width: 90%;
    height: 20px;
    border-radius: 6px;
    animation: loading 1s linear infinite alternate;
}
.checkPay_name.loading .lines_block{
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 1 !important;
    transform: translate(0%, -50%);
}
.checkPay_name.loading .lines_block .small{
    width: 60%;
}
.checkPay_name.loading .lines_block .big{
    width: 80%;
}
.checkPay_info.loading .line{
    width: 165px;
    height: 20px;
    border-radius: 6px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    animation: loading 1s linear infinite alternate;
}
.checkPay_info.loading .line:nth-child(n+2){
    width: 145px;
    top: 40px;
}
.checkPay_item .loading:nth-child(n+2){
    animation: none;
}
.checkPay_item.loading .square{
    display: none;
    width: 22px;
    height: 28px;
    border-radius: 4px;
    right: 18px;
    top: 50%;
    transform: translate(0%,-50%);
    animation: loading 2s linear infinite alternate;
}
.block_title.loading{
    animation: none;
}
.block_title.loading .lines_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    opacity: 1 !important;
}
.block_title.loading .lines_block .line {
    position: unset;
    animation: loading 1s linear infinite alternate;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}
.block_title.loading .lines_block .line:last-child{
    display: none;
}
.block_title.loading .lines_block .line.big{
    width: 100%;
}
.accordion-button.loading{
    animation: none;
    width: 100%;
}
.accordion-button.loading .case{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 1 !important;
    animation: loading 2s linear infinite alternate;
}
.accordion-button.loading .case .square{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 10px;
    height: 16px;
    border-radius: 2px;
    transform: translate(50%, -50%);
}

.accordion-button.loading .lines_block{
    top: 50%;
    position: absolute;
    left: 66px;
    width: 70%;
    flex-direction: column;
    display: flex;
    gap: 6px;
    align-items: flex-start;
    opacity: 1 !important;
    transform: translate(0%, -50%);
}
.accordion-button.loading .lines_block .line{
    position: unset;
    width: 100%;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s linear infinite alternate;
}
.accordion-button.loading .lines_block .line:nth-child(n + 2){
    display: none;
}
.accordion-button.loading .lines_block .line.big{
    width: 80%;
}
.accordion-button.loading .lines_block .line.small{
    width: 60%;
}
.accordion-button.loading .square{
    border-radius: 4px;
    width: 22px;
    height: 24px;
    right: 34px;
    top: 50%;
    transform: translate(0%,-50%);
    animation: loading 1s linear infinite alternate;
}
.accordion_text.loading{
    width: 100%;
    animation: none;
}
.accordion_text.loading .line{
    border-radius: 4px;
    height: 16px;
    width: 100%;
    top: 0;
    right: 0;
    animation: loading 1s linear infinite alternate;
}
.accordion_text.loading .line.last{
    width: 50%;
    top: 50%;
    left: 0;
}
.accordion_text.loading .square{
    border-radius: 4px;
    width: 10px;
    height: 10px;
    left: -16px;
    top: 0;
    animation: loading 1s linear infinite alternate;
}
.info_link.loading{
    animation: none;
    margin-left: 20px;
}
.info_link.loading .line{
    border-radius: 4px;
    height: 16px;
    width: 100%;
    top: 0;
    right: 0;
    animation: loading 1s linear infinite alternate;
}
.helpful_image.loading{
    width: 100%;
    border-radius: 16px;
}
.helpful_info.loading{
    width: 100%;
    animation: none;
}
.helpful_info.loading .line{
    animation: loading 1s linear infinite alternate;
    width: 100%;
    height: 20px;
    border-radius: 4px;
    left: 0;
    top: 0;
}
.helpful_info.loading .line:last-child{
    width: 50%;
    top: 66%;
}
.section_top .block_title.loading .line{
    width: 100%;
    height: 26px;
    left: 0;
    top: 0;
    border-radius: 4px;
    animation: loading 1s linear infinite alternate;
}
.helpful_info.loading .line.last{
    top: 33%;
}
.footer_about.loading{
    width: 100%;
    animation: none;
    opacity: 1 !important;
}
.footer_about.loading .lines_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    opacity: 1 !important;
}
.footer_about.loading .line{
    position: unset;
    animation: loading 1s linear infinite alternate;
    width: 100%;
    height: 14px;
    border-radius: 4px;
    left: 0;
    top: 0;
}
.footer_about.loading .line:last-child{
    width: 20%;
}
.slide_.loading{
    opacity: 1 !important;
}
.aboutUs.rotate .square{
    transform: rotate(90deg);
    transition: .3s all ease;
}



.menu_item.loading:hover{
    background: rgba(217, 217, 217, 0.4) !important;
}
.serv_img.animation .circle{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    border-radius: 0;
}
.service_img.loading .square{
    width: 60%;
    height: 60%;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    animation: loading 2s linear infinite alternate;
}
.page_link.active.animation,
 .page_link.active.animation + .page_link{
    animation: loading 1s linear infinite alternate;
}
.paginations.animation .square{
    color: transparent;
    animation: loading 2s linear infinite alternate;
}
.menu_item .count.animation{
    position: relative;
}
.menu_item .count.animation .square{
    position: absolute;
    width: 20px;
    height: 23px;
    transform: translate(-50%, 0%);
}


@media (max-width:768px) {
    .search_form.loading{
        width: 30px;
        height: 26px;
    }
    .search_form.loading .line{
        display: none;
    }
    .search_form.loading .square{
        left: 7px;
    }
    .hero_form.loading .line{
        width: 60%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .hero_form.loading .square.one{
        display: block;
    }
    .section_title.loading .lines_block .line{
        width: 80%;
    }
    .section_title.loading .lines_block .line:last-child{
        display: block;
        width: 50%;
    }
    .block_title.loading .lines_block .line:last-child{
        display: block;
        width: 50%;
    }
    .block_title.loading .lines_block .line.big{
        width: 100%;
    }
    .section_description.loading{
        padding-bottom: 20px;
    }
    .section_description.loading .lines_block .line:nth-child(n + 2){
        display: block;
    }
    .block_title.loading{
        width: 100%;
        height: 60px;
    }
    .block_title.loading .lines_block{
        width: 80%;
    }
    .section_top .block_title.loading .line{
        width: 50%;
    }
    .section_top .block_title.loading{
        height: 26px;
    }
    .section_top .show_all.loading{
        height: 24px;
    }
}
@media (max-width:576px){
    .checkPay_item.loading .square{
        display: block;
    }
    .section_description.loading {
        padding-bottom: 70px;
    }
    .section_title.loading{
        height: 60px;
    }    
    .checkPay_name.loading {
        width: 50%;
    }
    .checkPay_name.loading .lines_block{
        align-items: flex-start;
    }
    .accordion-button.loading .lines_block .line:nth-child(n + 2){
        display: block;
    }
    .accordion-button.loading .lines_block{
        transform: translate(-50%, -50%);                
        left: 50%;
    }
    .mail.loading .square{
        left: 0;
    }
    .mail.loading .line{
        right: 50%;
    }
}